* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    background-color: antiquewhite;
    padding: 1rem;
}

h1 {
    margin-bottom: 2rem;
}

.my-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.seat-spot {
    background-color: brown;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.seat {
    background-color: lightsalmon;
    height: 300px;
    text-align: center;
    
}

.vip-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(56, 56, 56);
    margin-top: 10px;
}

.seat-number {
    font-weight: bold;
    font-size: 1.1rem;
    text-shadow: 0 0 2px white;
}

.vip-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: 57% 24%;
}

.table {
    font-size: 1.1rem;
    color: rgb(26, 25, 25);
}